{% extends 'weather_base.html' %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-2xl font-bold mb-4">{{ weather.city }}</h1>
    <div class="flex items-center">
        <img src="https://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="{{ weather.description }}" class="w-16 h-16 mr-4">
        <div>
            <p class="text-4xl font-bold">{{ weather.temperature }}&deg;C</p>
            <p class="text-lg">{{ weather.description }}</p>
        </div>
    </div>
    <form action="{% url 'home' %}" method="get" class="mt-4">
        <input type="text" name="city" placeholder="Enter city name" class="border border-gray-400 rounded px-4 py-2">
        <button type="submit" class="bg-blue-500 text-white rounded px-4 py-2 ml-4">Search</button>
    </form>
</div>
<script>
     function updateWeather() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/?city=' + encodeURIComponent('{{ weather.city }}'));
    xhr.onload = function() {
        if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            document.querySelector('.temperature').textContent = data.temperature + '°C';
            document.querySelector('.description').textContent = data.description;
            document.querySelector('.icon').src = 'https://openweathermap.org/img/wn/' + data.icon + '.png';
        }
    };
    xhr.send();
}

setInterval(updateWeather, 300000); // update every 5 minutes
</script>
{% endblock %}